
.header{
    background: #f5f5f5;
    padding: 10px 1px;
}
.logo-menu h1{
    color: #0062d3;
}
.menu-right
.menu-right ul{
    text-align: right;
    
}
.menu-right ul li{
    display: inline-block;
    text-align: right;
    margin-right: 10px;
}
.menu-right ul li a{
    display: block;
    color: #0062d3;
    padding: 10px 20px;
    text-decoration: none;
}
.menu-right ul li a:hover{
    background: rgb(193, 226, 159);
}

.banner{
    background: url(https://i.ibb.co/9Z2WDmj/178934873-455404502228845-6544367562530705105-n.jpg);
    padding: 220px 0;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    z-index: 1;
}

.banner::before{
    content: "";
    width: 0;
    height: 100%;
    background: rgba(0, 0, 0, .3);
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    transition: .5s;
}
.banner h4{
    text-align: center;
    margin-top: 210px;
    font-size: 30px;
    color: #ffffff;
}
.about p{
    font-size: 15px;
    color: #4e4e4e;
}
.about h5{
    font-size: 23px;
    color: #4e4e4e;
}
.about h3{
    color: #4e4e4e;
}
.about h4{
    color: #4e4e4e;
}
.about h6{
    color: #4e4e4e;
}